.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
  background: #0e1014;


  > .left_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > p {
      max-width: 350px;

      &:first-child {
        font-size: 48px;
      }

      &:nth-child(2) {
        font-size: 48px;
        font-weight: bold;
        background-image: linear-gradient(60deg, #fcb045, #ff3f78);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:nth-child(3) {
        font-weight: 400;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin-top: 20px;
      }
    }
  }

  > .right_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cards_header {
      max-width: 290px;
      font-size: 18px;
      text-align: end;

      > span {
        font-weight: bold;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%),
          linear-gradient(0deg, #e4e5ea, #e4e5ea);
      }
    }

    .cards_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin: 40px 0;

      .card {
        max-width: 140px;

        .card_title {
          font-size: 18px;
          text-align: end;
          text-transform: uppercase;
        }

        .card_content {
          font-family: "Montserrat", sans-serif;
          text-align: end;
        }
      }
    }

    .btn_div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > button {
        background: rgba(64, 119, 243, 1);
        color: white;
        font-size: 16px;
        border: none;
        width: 260px;
        height: 60px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .container {
    display: none;
  }
}