.container {
  background: #0e1014;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid white;
  display: flex;
  z-index: -1;
}

.main {
  position: relative;
  width: 100%;
}

.main_mobi {
  display: none;
}

.sm_blur_red_ball {
  margin-left: 50%;
  margin-top: 30%;
  position: absolute;
}

.big_red_ball {
  margin-left: 32%;
  margin-top: 5%;
  position: absolute;
}

.sm_purple_ball {
  margin-left: 55%;
  position: absolute;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .container {
    .main {
      display: none;
    }

    .main_mobi {
      display: block;
      position: relative;
      width: 100%;
    }
    .purple_ball_mobi {
      position: absolute;
      right: 0;
      top: 40%;
    }
    .red_ball_mobi {
      position: absolute;
      left: 20px; 
      bottom: 0;
      filter: blur(5px);
    }
  }
}
