.container {
  display: flex;
  justify-content: space-between;
  color: #e4e5ea;
  gap: 200px;
  margin-top: 60px;

  > section {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:nth-child(2) {
      gap: 1rem;
    }

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 140px;
      gap: 1rem;
      margin-right: 2rem;

      > p {
        font-size: 10px;
        font-family: "Montserrat", sans-serif;
      }
    }

    > .navs {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      > button {
        font-size: 16px;
      }
    }
  }
  a {
    text-decoration: none;
    width: max-content;
  }
}

button {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .container {
    margin-top: 0;
    gap: 0;

    section .logo,
    .phone_nets {
      display: none;
    }
    .navs {
      width: 100vw;
      height: 60px;
      justify-content: space-evenly !important;
      gap: 0 !important;
      background-color: black;
      position: absolute;
      top: 0;

      > button {
        color: white;

        &:last-child {
          display: none;
        }
      }
    }
  }
}
