.container {
  background: #0e1014;

  .main {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
  }

  .about_and_menu {
    display: flex;
    gap: 5rem;
  }

  .menu {
    display: flex;
    gap: 3rem;
  }
  .about,
  .menu > div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .title {
    color: rgba(101, 101, 102, 1);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    height: 50px;
  }

  .footer_link {
    font-size: 16px;
    text-align: start;
  }

  .rights {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 60px;
  }
  p,
  a {
    text-align: end;
    text-decoration: none;
  }
}

button {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .container {
    .main {
      max-width: 100%;
      flex-direction: column;
      padding: 40px 20px;
      margin-top: 160px;

      .about_and_menu {
        flex-direction: column;
        gap: 1rem;
      }
    }
    .contacts {
      align-items: flex-start;
      margin-top: 30px;
    }

    .title {
      height: 40px;
    }

    button > img {
      width: 24px;
    }

    a {
      text-align: start
    }
  }
}
